[submodule "third_party/protobuf"]
	path = third_party/protobuf
	url = https://github.com/protocolbuffers/protobuf
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/abseil"]
	path = third_party/abseil
	url = https://github.com/abseil/abseil-cpp
[submodule "third_party/cares"]
	path = third_party/cares
	url = https://github.com/c-ares/c-ares
[submodule "third_party/re2"]
	path = third_party/re2
	url = https://github.com/google/re2
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl
[submodule "third_party/grpc"]
	path = third_party/grpc
	url = https://github.com/grpc/grpc
[submodule "third_party/opentelemetry"]
	path = third_party/opentelemetry
	url = https://github.com/open-telemetry/opentelemetry-cpp
