<div [formGroup]="range">
    <mat-form-field>
        <mat-label>From date</mat-label>
        <input matInput
               [matDatepicker]="fromDatepicker"
               formControlName="fromDate">
        <mat-datepicker #fromDatepicker />
        <mat-datepicker-toggle [for]="fromDatepicker" matSuffix />
    </mat-form-field>

    <mat-form-field>
        <mat-label>From time</mat-label>
        <input matInput
               [matTimepicker]="fromTimepicker"
               formControlName="fromTime">
        <mat-timepicker #fromTimepicker />
        <mat-timepicker-toggle [for]="fromTimepicker" matSuffix />
    </mat-form-field>

    <mat-form-field>
        <mat-label>To date</mat-label>
        <input matInput
               [matDatepicker]="toDatepicker"
               formControlName="toDate">
        <mat-datepicker #toDatepicker />
        <mat-datepicker-toggle [for]="toDatepicker" matSuffix />
    </mat-form-field>

    <mat-form-field>
        <mat-label>To time</mat-label>
        <input matInput
               [matTimepicker]="toTimepicker"
               formControlName="toTime">
        <mat-timepicker #toTimepicker />
        <mat-timepicker-toggle [for]="toTimepicker" matSuffix />
    </mat-form-field>
</div>

<mat-form-field>
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter tags">
        @for (tag of tags(); track tag) {
        <mat-chip-row (removed)="remove(tag)"
                      [editable]="true"
                      (edited)="edit(tag, $event)"
                      [aria-description]="'press enter to edit ' + tag">
            {{tag}}
            <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-chip-row>
        }
        <input placeholder="New tag..."
               [matChipInputFor]="chipGrid"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur"
               (matChipInputTokenEnd)="add($event)" />
    </mat-chip-grid>
</mat-form-field>

<button mat-button (click)="find()">Find</button>

@for (token of tokens(); track token) {
<div>{{token}}</div>
} @empty {
<div>no tokens</div>
}
